In [17]:
import os
import json
import pandas as pd
import mysql.connector

In [18]:
def Agg_Trans_Ins(path):
    
    #The os.listdir() method in Python is used to get the list of all files and directories in the specified directory. 
    #If we donâ€™t specify any directory, then a list of files and directories in the current working directory will be returned.

    #Creating dictionary for storing data
    col={'State':[], 'Year':[],'Quarter':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}
    #State
    state_list=os.listdir(path) 
    state_list
    for i in state_list:        
        List=path+i+"/"
        year=os.listdir(List)
    #Year
        for j in year:          
            year_List=List+j+"/"
            yr_list=os.listdir(year_List)
    #File
            for k in yr_list:   # 
                file_List=year_List+k 
                Data=open(file_List,'r')
                D=json.load(Data)    #D 
    #Cleaning the data
                for z in D['data']['transactionData']:
                    col['Transacion_type'].append(z['name'])               
                    col['Transacion_count'].append(z['paymentInstruments'][0]['count'])
                    col['Transacion_amount'].append(z['paymentInstruments'][0]['amount'])
                    col['State'].append(i)
                    col['Year'].append(j)
                    col['Quarter'].append(int(k.strip('.json')))       #1.File name, so to remove . we use strip
    #Succesfully created a dataframe
    df=pd.DataFrame(col)
    df['State']=df['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar')
    df['State']=df['State'].str.replace('-'," ")
    df['State'] = df['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli")
    df['State']=df['State'].str.title()
    return df

In [37]:
def Agg_User(path):
    #Creating dictionary for storing data
    col={'State':[], 'Year':[],'Quarter':[],'Brand':[], 'Transacion_count':[], 'Percentage':[]}
    #State
    state_list=os.listdir(path) 
    for i in state_list:        
        List=path+i+"/"
        year=os.listdir(List)
    #Year
        for j in year:          
            year_List=List+j+"/"
            yr_list=os.listdir(year_List)
    #File
            for k in yr_list:   # 
                file_List=year_List+k 
                Data=open(file_List,'r')
                D=json.load(Data)    #D 
    #Cleaning the data
                try:
                    for z in D['data']['usersByDevice']:
                        col['Brand'].append(z['brand'])               
                        col['Transacion_count'].append(z['count'])
                        col['Percentage'].append(z['percentage'])
                        col['State'].append(i)
                        col['Year'].append(j)
                        col['Quarter'].append(int(k.strip('.json')))
                except:
                    pass      
    #Succesfully created a dataframe
    df=pd.DataFrame(col)
    df['State']=df['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar ')
    df['State']=df['State'].str.replace('-'," ")
    df['State']=df['State'].str.title()
    return df

In [20]:
def Map_Trans_Ins(path):
    #Creating dictionary for storing data
    col={'State':[], 'Year':[],'Quarter':[],'District':[], 'Transacion_count':[], 'Transacion_amount':[]}
    #State
    state_list=os.listdir(path) 
    state_list
    for i in state_list:        
        List=path+i+"/"
        year=os.listdir(List)
    #Year
        for j in year:          
            year_List=List+j+"/"
            yr_list=os.listdir(year_List)
    #File
            for k in yr_list:   # 
                file_List=year_List+k 
                Data=open(file_List,'r')
                D=json.load(Data)    #D 
    #Cleaning the data
                for z in D['data']['hoverDataList']:
                    col['District'].append(z['name'])               
                    col['Transacion_count'].append(z['metric'][0]['count'])
                    col['Transacion_amount'].append(z['metric'][0]['amount'])
                    col['State'].append(i)
                    col['Year'].append(j)
                    col['Quarter'].append(int(k.strip('.json')))       #1.File name, so to remove . we use strip
    #Succesfully created a dataframe
    df=pd.DataFrame(col)
    df['State']=df['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar ')
    df['State']=df['State'].str.replace('-'," ")
    df['State'] = df['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli")
    df['State']=df['State'].str.title()
    df['District']=df['District'].str.title()
    return df

In [21]:
def Map_User(path):
    #Creating dictionary for storing data
    col={'State':[], 'Year':[],'Quarter':[],'District':[],'registeredUsers':[], 'appOpens':[]}
    #State
    state_list=os.listdir(path) 
    state_list
    for i in state_list:        
        List=path+i+"/"
        year=os.listdir(List)
    #Year
        for j in year:          
            year_List=List+j+"/"
            yr_list=os.listdir(year_List)
    #File
            for k in yr_list:   # 
                file_List=year_List+k 
                Data=open(file_List,'r')
                D=json.load(Data)    #D 
    #Cleaning the data
                try:
                    for z in D['data']['hoverData'].items():
                        col['District'].append(z[0])
                        col['registeredUsers'].append(z[1]['registeredUsers'])
                        col['appOpens'].append(z[1]['appOpens'])
                        col['State'].append(i)
                        col['Year'].append(j)
                        col['Quarter'].append(int(k.strip('.json')))
                except:
                    pass       
    #Succesfully created a dataframe
    df=pd.DataFrame(col)
    df['State']=df['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar ')
    df['State']=df['State'].str.replace('-'," ")
    df['State']=df['State'].str.title()
    return df

In [22]:
def Top_Trans_Ins(path):
    #Creating dictionary for storing data
    col={'State':[], 'Year':[],'Quarter':[],'Pincode':[], 'Transacion_count':[], 'Transacion_amount':[]}
    #State
    state_list=os.listdir(path) 
    state_list
    for i in state_list:        
        List=path+i+"/"
        year=os.listdir(List)
    #Year
        for j in year:          
            year_List=List+j+"/"
            yr_list=os.listdir(year_List)
    #File
            for k in yr_list:   # 
                file_List=year_List+k 
                Data=open(file_List,'r')
                D=json.load(Data)    #D 
    #Cleaning the data
                for z in D['data']['pincodes']:
                        col['Pincode'].append(z['entityName'])               
                        col['Transacion_count'].append(z['metric']['count'])
                        col['Transacion_amount'].append(z['metric']['amount'])
                        col['State'].append(i)
                        col['Year'].append(j)
                        col['Quarter'].append(int(k.strip('.json')))      #1.File name, so to remove . we use strip
    #Succesfully created a dataframe
    df=pd.DataFrame(col)
    df['State']=df['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar ')
    df['State']=df['State'].str.replace('-'," ")
    df['State']=df['State'].str.title()
    return df

In [23]:
def Top_User(path):
    #Creating dictionary for storing data
    col={'State':[], 'Year':[],'Quarter':[],'Pincode':[], 'Registered_users':[]}
    #State
    state_list=os.listdir(path) 
    state_list
    for i in state_list:        
        List=path+i+"/"
        year=os.listdir(List)
    #Year
        for j in year:          
            year_List=List+j+"/"
            yr_list=os.listdir(year_List)
    #File
            for k in yr_list:   # 
                file_List=year_List+k 
                Data=open(file_List,'r')
                D=json.load(Data)   
    #Cleaning the data
                for z in D['data']['pincodes']:
                        col['Pincode'].append(z['name'])               
                        col['Registered_users'].append(z['registeredUsers'])
                        col['State'].append(i)
                        col['Year'].append(j)
                        col['Quarter'].append(int(k.strip('.json')))      #1.File name, so to remove . we use strip
    #Succesfully created a dataframe
    df=pd.DataFrame(col)
    df['State']=df['State'].str.replace('andaman-&-nicobar-islands','Andaman & Nicobar ')
    df['State']=df['State'].str.replace('-'," ")
    df['State']=df['State'].str.title()
    return df

In [38]:
df_Agg_Transaction=Agg_Trans_Ins("E:/Python/Phonepe/pulse/data/aggregated/transaction/country/india/state/")
# df_Agg_Transaction.to_csv('agg_Trans.csv')
df_Agg_Insurance=Agg_Trans_Ins("E:/Python/Phonepe/pulse/data/aggregated/insurance/country/india/state/")
# df_Agg_Insurance.to_csv('agg_Insurance.csv')
df_Agg_User=Agg_User("E:/Python/Phonepe/pulse/data/aggregated/user/country/india/state/")
# df_Agg_User.to_csv('agg_User.csv')
df_Map_Transaction=Map_Trans_Ins("E:/Python/Phonepe/pulse/data/map/transaction/hover/country/india/state/")
# df_Map_Transaction.to_csv('Map_Trans.csv')
df_Map_Insurance=Map_Trans_Ins("E:/Python/Phonepe/pulse/data/map/insurance/hover/country/india/state/")
# df_Map_Insurance.to_csv('map_Insurance.csv')
df_Map_User=Map_User("E:/Python/Phonepe/pulse/data/map/user/hover/country/india/state/")
# df_Map_User.to_csv('map_User.csv')
df_Top_Transaction=Top_Trans_Ins("E:/Python/Phonepe/pulse/data/top/transaction/country/india/state/")
# df_Top_Transaction.to_csv('top_Transaction.csv')
df_Top_Insurance=Top_Trans_Ins("E:/Python/Phonepe/pulse/data/top/insurance/country/india/state/")
# df_Top_Insurance.to_csv('top_Insurance.csv')
df_Top_User=Top_User("E:/Python/Phonepe/pulse/data/top/user/country/india/state/")
# df_Top_User.to_csv('top_User.csv')

In [43]:
df_Agg_User

                   State  Year  Quarter    Brand  Transacion_count  Percentage
0     Andaman & Nicobar   2018        1   Xiaomi              1665    0.247033
1     Andaman & Nicobar   2018        1  Samsung              1445    0.214392
2     Andaman & Nicobar   2018        1     Vivo               982    0.145697
3     Andaman & Nicobar   2018        1     Oppo               501    0.074332
4     Andaman & Nicobar   2018        1  OnePlus               332    0.049258
...                  ...   ...      ...      ...               ...         ...
6727         West Bengal  2022        1   Lenovo            330017    0.015056
6728         West Bengal  2022        1  Infinix            284678    0.012987
6729         West Bengal  2022        1     Asus            280347    0.012790
6730         West Bengal  2022        1    Apple            277752    0.012671
6731         West Bengal  2022        1   Others           2196334    0.100199

[6732 rows x 6 columns]

In [26]:
#Database Connection
db=mysql.connector.connect(host="localhost",user="root",password="kobalan",auth_plugin="mysql_native_password",database="phonepe")
cursor=db.cursor()

In [27]:
Agg_Ins= ''' CREATE TABLE  IF NOT EXISTS agg_Insurance(State varchar(40),
                                                Year int,
                                                Quarter int,
                                                Transaction_type varchar(50),
                                                Transaction_count bigint,
                                                Transaction_amount bigint
                                                )'''
cursor.execute(Agg_Ins)
db.commit()

Agg_Trans= ''' CREATE TABLE  IF NOT EXISTS agg_Transaction(State varchar(40),
                                                Year int,
                                                Quarter int,
                                                Transaction_type varchar(50),
                                                Transaction_count bigint,
                                                Transaction_amount bigint
                                                )'''
cursor.execute(Agg_Trans)
db.commit()

Agg_Us= ''' CREATE TABLE  IF NOT EXISTS agg_User(State varchar(40),
                                                Year int,
                                                Quarter int,
                                                Brand varchar(50),
                                                Transaction_count bigint,
                                                Percentage float
                                                )'''
cursor.execute(Agg_Us)
db.commit()

Map_Ins= ''' CREATE TABLE  IF NOT EXISTS map_Insurance(State varchar(40),
                                                Year int,
                                                Quarter int,
                                                District varchar(50),
                                                Transaction_count bigint,
                                                Transaction_amount bigint
                                                )'''
cursor.execute(Map_Ins)
db.commit()

Map_Trans= ''' CREATE TABLE  IF NOT EXISTS map_Transaction(State varchar(40),
                                                Year int,
                                                Quarter int,
                                                District varchar(50),
                                                Transaction_count bigint,
                                                Transaction_amount bigint
                                                )'''
cursor.execute(Map_Trans)
db.commit()

Map_Us= ''' CREATE TABLE  IF NOT EXISTS map_User(State varchar(40),
                                                Year int,
                                                Quarter int,
                                                District varchar(50),
                                                registeredUsers bigint,
                                                appOpens bigint
                                                )'''
cursor.execute(Map_Us)
db.commit()

Top_Ins= ''' CREATE TABLE  IF NOT EXISTS top_Insurance(State varchar(40),
                                                Year int,
                                                Quarter int,
                                                Pincode int,
                                                Transaction_count bigint,
                                                Transaction_amount bigint
                                                )'''
cursor.execute(Top_Ins)
db.commit()

Top_Trans= ''' CREATE TABLE  IF NOT EXISTS top_Transaction(State varchar(40),
                                                Year int,
                                                Quarter int,
                                                Pincode int,
                                                Transaction_count bigint,
                                                Transaction_amount bigint
                                                )'''
cursor.execute(Top_Trans)
db.commit()

Top_Us= ''' CREATE TABLE  IF NOT EXISTS top_Users(State varchar(40),
                                                Year int,
                                                Quarter int,
                                                Pincode int,
                                                Registered_users bigint
                                                )'''
cursor.execute(Top_Us)
db.commit()

In [44]:
path2="E:/Python/Phonepe/pulse/data/aggregated/user/country/india/state/"
agg_user_list = os.listdir(path2)

columns2 = {"States":[], "Years":[], "Quarter":[], "Brands":[],"Transaction_count":[], "Percentage":[]}

for state in agg_user_list:
    cur_states = path2+state+"/"
    agg_year_list = os.listdir(cur_states)
    
    for year in agg_year_list:
        cur_years = cur_states+year+"/"
        agg_file_list = os.listdir(cur_years)
        
        for file in agg_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            C = json.load(data)

            try:

                for i in C["data"]["usersByDevice"]:
                    brand = i["brand"]
                    count = i["count"]
                    percentage = i["percentage"]
                    columns2["Brands"].append(brand)
                    columns2["Transaction_count"].append(count)
                    columns2["Percentage"].append(percentage)
                    columns2["States"].append(state)
                    columns2["Years"].append(year)
                    columns2["Quarter"].append(int(file.strip(".json")))
            
            except:
                pass

aggre_user = pd.DataFrame(columns2)

aggre_user["States"] = aggre_user["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggre_user["States"] = aggre_user["States"].str.replace("-"," ")
aggre_user["States"] = aggre_user["States"].str.title()